.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns of equal width */
    gap: 5px; /* Reduced gap between boxes */
    padding: 5px; /* Padding around the grid */
    margin: auto; /* Center the grid horizontally */
    max-width: 100%; /* Ensures the grid container does not exceed the width of its container */
}

.verse-box {
    border: 1px solid #ccc;
    padding: 10px; /* Increased padding */
    text-align: center;
    cursor: pointer;
    background-color: #f0f0f0;
    word-wrap: break-word; /* Ensure text wraps inside the box */
    height: auto; /* Allow height to adjust based on content */
    box-sizing: border-box; /* Include padding and border in the width */
    font-size: 1.5rem; /* Increased font size for better readability */
    flex-grow: 1; /* Allows the box to grow to fill the space */
    min-width: 0; /* Overcomes minimum sizing issues on smaller screens */
}

.verse-box:nth-child(5n) {
    background-color: #add8e6; /* Light blue background for every 5th box */
}

.button-container {
    display: flex;           /* Aligns children (buttons) in a row */
    justify-content: center; /* Center the buttons horizontally */
    gap: 0;                  /* Sets zero space between the buttons */
}

button {
    padding: 10px 20px; /* Adds padding inside the buttons for better touch */
    font-size: 16px;    /* Sets a readable font size */
    cursor: pointer;    /* Changes the mouse cursor to pointer when hovering over the buttons */
}

.chapter-box {
    padding: 10px;
    background-color: #f4f4f4;
    text-align: center;
    cursor: pointer;
}

.chapter-box:hover {
    background-color: #ddd; /* Lighter color on hover */
}

h1#book-title {
    text-align: center;
    margin-top: 20px;
}
