.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Always 5 columns */
    gap: 5px;
    padding: 5px;
    margin: auto;
    width: 100%; /* Ensures the container fits within the parent element */
    box-sizing: border-box; /* Includes padding and border in the element's total width */
}

.verse-box, .chapter-box {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center; /* Center text for better aesthetics */
    cursor: pointer;
    background-color: #f0f0f0;
    word-wrap: break-word;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    font-size: 1.5rem; /* Standard font size for readability */
    min-width: 0px;
    min-height: 50px; /* Minimum height to maintain visual consistency */
}

/* Special styling for every fifth box */
.verse-box:nth-child(5n), .chapter-box:nth-child(5n) {
    background-color: #add8e6; /* Light blue background */
}

.chapter-box {
    position: relative; /* Ensure the pseudo-element is positioned relative to the chapter box */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    background-color: #f0f0f0;
    word-wrap: break-word;
    height: auto;
    box-sizing: border-box;
    font-size: 1.5rem;
    transition: color 0.3s; /* Smooth transition for text color */
}

.chapter-box:hover::after {
    content: attr(data-full-header); /* Use the full header text */
    position: absolute;
    top: 100%; /* Position below the chapter box */
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10;
    white-space: normal;
    color: black; /* Ensure the text color is readable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */
}

#chapter-box:hover {
    color: blue; /* Adjust the color to whatever shade of blue you prefer */
    cursor: pointer; /* This makes it clear that the element is clickable */
}

#book-link {
    color: rgb(144, 4, 63);
    cursor: pointer; /* Ensures it's obvious it's clickable */
}

#book-link:hover {
    color: blue; /* Changes color on hover to indicate interactivity */
}
